################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/com.visonic.powermax/v16/.suo
/.vs/VSWorkspaceState.json
